<div class="container">
  <form method="POST" action="/bookings/{{booking.id}}">
    <div class="form-group">
      <label for="title">Titel</label>
      <input type="text" required class="form-control" name="booking[title]" placeholder="Titel der Buchung"
        value="{{booking.title}}">
    </div>
    <div class="form-group">
      <label for="name">Vorname</label>
      <input type="text" required class="form-control" name="booking[firstname]" placeholder="Vorname">
    </div>
    <div class="form-group">
      <label for="name">Nachname</label>
      <input type="text" required class="form-control" name="booking[lastname]">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="address">Strasse</label>
        <input class="form-control" required type="text" name="booking[addrStreet]"></input>
      </div>
      <div class="form-group col-md-3">
        <label for="address">Hausnummer</label>
        <input class="form-control" required type="text" name="booking[addrHno]"></input>
      </div>
      <div class="form-group col-md-3">
        <label for="address">Top</label>
        <input class="form-control" required type="text" name="booking[addrAno]"></input>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="address">PLZ</label>
        <input class="form-control" required type="text" name="booking[addrPostcode]"></input>
      </div>
      <div class="form-group col-md-6">
        <label for="address">Ort</label>
        <input class="form-control" required type="text" name="booking[addrCity]"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="email">E-Mail-Adresse</label>
      <input type="email" required class="form-control" name="booking[email]">
    </div>
    <div class="form-group">
      <label for="room">Raum</label>
      <select class="form-control c-select" id="room" name="booking[room]">
        {{#each rooms}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="equipment">Ausstattung</label>
      <select multiple="true" class="form-control c-select" id="equipment" name="booking[equipment]">
        {{#each equipment}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="beginn">Begin</label>
        <input type="date" required class="form-control" id="beginn" name="booking[beginnDate]" placeholder="Beginn">
      </div>
      <div class="form-group col-md-2">
        <label>&nbsp;</label>
        <select id="hour" class="form-control" name="booking[beginnHour]">
          <option value="0">00</option>
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4">04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9" selected>09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>&nbsp;</label>
        <select class="form-control" id="minute" name="booking[beginnMinute]">
          <option value="0">00</option>
          <option value="30">30</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="end">Ende</label>
        <input type="date" required class="form-control" id="end" name="booking[endDate]" placeholder="Ende">
      </div>
      <div class="form-group col-md-2">
        <label>&nbsp;</label>
        <select id="hour" class="form-control" name="booking[endHour]">
          <option value="0">00</option>
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4">04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17" selected>17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>&nbsp;</label>
        <select class="form-control" id="minute" name="booking[endMinute]">
          <option value="0">00</option>
          <option value="30">30</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="prepH">Aufbaudauer [HH]</label>
        <input type="number" id="prepH" class="form-control" name="booking[preparationHours]">
      </div>
      <div class="form-group col-md-3">
        <label for="prepM">[mm]</label>
        <select class="form-control" id="prepM" name="booking[preparationMins]">
          <option value="0">00</option>
          <option value="30">30</option>
        </select>
      </div>
      <div class="form-group  col-md-3">
        <label for="teardownH">Abbaudauer [HH]</label>
        <input type="number" id="teardownH" class="form-control" name="booking[teardownHours]">
      </div>
      <div class="form-group col-md-3">
        <label for="teardownM">[mm]</label>
        <select class="form-control" id="teardownM" name="booking[teardownMins]">
          <option value="0">00</option>
          <option value="30">30</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="recurrenceNum">Wiederholungen</label>
        <input type="number" id="recurrenceNum" min="0" class="form-control" name="booking[recurrenceNum]"
          placeholder="Wie viel Mal soll der Termin stattfinden.">
      </div>
      <div class="form-group col-md-6">
        <label for="recurrencePeriod">Periode</label>
        <select class="form-control" id="teardownM" name="booking[recurrencePeriod]">
          <option value="none"></option>
          <option value="week">Wöchentlich</option>
          <option value="month">Monatlich</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Absenden</button>
  </form>
</div>