<div class="container">
  <form method="POST" action="/bookings/{{bookingID}}">
    <div class="form-group">
      <label for="title">Titel</label>
      <input type="text" class="form-control" name="booking[title]" placeholder="Titel der Buchung">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="booking[name]" placeholder="Vor- und Nachname">
    </div>
    <div class="form-group">
      <label for="address">Adresse</label>
      <textarea class="form-control" name="booking[address]" placeholder="Adresse"></textarea>
    </div>
    <div class="form-group">
      <label for="email">E-Mail-Adresse</label>
      <input type="email" class="form-control" name="booking[email]">
    </div>
    <div class="form-group">
      <label for="room">Raum</label>
      <select class="form-control c-select" id="room" name="booking[room]">
        {{#each booking.rooms}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="equipment">Ausstattung</label>
      <select class="form-control c-select" id="equipment" name="booking[equipment]">
        {{#each booking.equipment}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="beginn">Beginnzeit</label>
        <input type="date" class="form-control" id="beginn" name="booking[beginnDate]" placeholder="Beginn">
      </div>
      <div class="form-group col-md-2">
        <label>&nbsp;</label>
        <select id="hour" class="form-control" name="booking[beginnHour]">
          <option value="0">00</option>
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4">04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9" selected>09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>&nbsp;</label>
        <select class="form-control" id="minute" name="booking[beginnMinute]">
          <option value="0">00</option>
          <option value="30">30</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="prepH">Aufbaudauer [HH]</label>
        <input type="number" id="prepH" class="form-control" name="booking[preparationHours]">
      </div>
      <div class="form-group col-md-2">
        <label for="prepM">[mm]</label>
        <select class="form-control" id="prepM" name="booking[preparationMins]">
          <option value="0">00</option>
          <option value="30">30</option>
        </select>
      </div>
      <div class="form-group  col-md-2">
        <label for="eventH">Eventdauer [HH]</label>
        <input type="number" class="form-control" name="booking[eventHours]">
      </div>
      <div class="form-group col-md-2">
        <label for="eventM">[mm]</label>
        <select class="form-control" id="minute" name="booking[eventMins]">
          <option value="0">00</option>
          <option value="30">30</option>
        </select>
      </div>
      <div class="form-group  col-md-2">
        <label for="teardownH">Abbaudauer [HH]</label>
        <input type="number" id="teardownH" class="form-control" name="booking[teardownHours]">
      </div>
      <div class="form-group col-md-2">
        <label for="teardownM">[mm]</label>
        <select class="form-control" id="minuteardownMte" name="booking[teardownMins]">
          <option value="0">00</option>
          <option value="30">30</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Absenden</button>
  </form>
</div>